
@import "../../global.scss";


.menu{
    width:200px;
    height: 100vh;
    background-color: $mainColor;
    position: fixed;
    top: 0px;
    right: -100vw;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 2s ease;
    ul{

        li{
            margin: 30px;
            a{
                color: white;
            }
        }
    }

    &.active{
        right: 0;
    }

}