
@import "../../global.scss";


.portfilio{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 120vh !important;
    position: relative;  
    .details{
        position: absolute;
        top: 0%;
        left: 15%;
        width: 70%;
        height: auto;
        background-color: rgba(255,255,255, 0.8);
        border-radius: 10px;
        border: 1px solid lightgray;
        z-index: 2;
        @include mobile{
            width: 90%;
            left: 0;
        }
        .detailsWrapper{
            width: 100%;
            height: 100%;
            padding: 20px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 5px;
            color: $mainColor;
            h3{
                font-weight: 600;
                text-transform: capitalize;
                color: $mainColor;
                text-transform: capitalize;

            }
            p{
                text-align: left;
                width: 100%;
                height: max-content;
                padding: 0px 10px;
            }
            img{
                width: 100%;
                height:400px;
                object-fit: cover;

            }
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                gap: 10px;
                a{
                    width: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #C70039;
                    border-radius: 10px;
                    color: white;

                    &:first-child{
                        background-color: #FF5733;
                        
                    }

                }
            }
            .close{
                position: absolute;
                right: 20px;
                top: 20px;
                .fa-xmark{
                    width: 30px;
                    height: 30px;
                    background-color: white;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    color: $mainColor;
                    transition: all 1s ease;
                    font-size: 20px;
                    &:hover{
                        background-color: $mainColor;
                        color: white;
                    }
                }
            }

            
        }

    } 
    h1{
        font-size: 20px;
        margin-top: 10px;
        text-transform: capitalize;
        overflow: hidden;
        @include mobile{
            padding: 10px;
    }
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:10px;
        padding: 20px;
        height:100px;
        width: 70%;
        overflow: hidden;
        text-align: center;
        transition: 2s all ease;
        @include mobile{
            width: 100%;
            height:max-content;
          
        }
        li{
            padding: 10px;
            cursor: pointer;
            margin: 10px ;
            font-size: 12px;
            padding:5px;
            border-radius: 5px;
            text-transform: capitalize;
            @include mobile{
              

            }
            &.active{
                background-color: $mainColor;
                color: white;
                border: white 0.1px solid;

            }
        }

    }

    .portfolio_container{
        width: 80%;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
        gap: 10px;
        padding:10px;
        transition: 2s all ease;
            .item{
                width: 220px;
                height: 150px;
                border-radius: 10px;
                // overflow: hidden;
                position: relative;
                text-align: center;
                cursor: pointer;
                transition: all 2s ease;
                @include mobile{
                    width: 120px;
                    height: 100px;
                    overflow: hidden;
                  

                }


                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 1;
                    transition: all 1s ease;

                }
                h3{
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    color: white;
                    font-size: 20px;
                    @include mobile{
                        left: 0;
                        font-size: 16px;
                    }

                }
                .pdesc{
                   
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0%;
                        left: 0%;
                        color: white;
                        font-size: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        gap: 0;
                        text-transform: capitalize;
                        @include mobile {
                               gap: 0;
                               
                        
                            }

                        p {
                                padding: 0;
                                margin: 0;
                                font-weight: 600;
                                font-size: 20px;
                                width: 100%;
                                height: max-content !important;
                                cursor: pointer;
                                a{

                                    &:hover{
                                        color: white;
                                        font-weight: 600;
                                    }
                                }
                                @include mobile{
                                    font-size: 13px;
                                    height: max-content;
                                    overflow: hidden;
                                    line-height: 15px;
                                    margin-bottom: 0px ;
                                    margin-top: 10px;
                                    padding: 10px;
                                 
                                   
                                    

                                }
                            }
                            div{
                                display: flex;
                                justify-content: center;
                                gap: 5px;
                                margin-top: 20px;
                                
                                a {
                                        font-size: 14px;
                                        cursor: pointer;
                                        margin-bottom: 10px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        gap: 5px;
                                        border: 1px solid white;
                                        padding: 3px 5px ;
                                        background-color: rgba(255,255,255, 0.4);
                                        transition: all 1s ease;
                                        border-radius: 15px;
                                        &:hover{
                                            color: $mainColor;
                                            background-color: white;
                                            @include mobile{
                                                background-color: transparent;
                                                color: white;
                                                transform: scale(1.2);
                                            }
                                            
                                        }
                                        @include mobile {
                                            padding: 10px;
                                            border-radius: 50%;
                                            font-size: 20px;
                                            border: none;
                                            background-color: transparent;
                                            display: none;
                                        }
                                        span{
                                            @include mobile {
                                                display: none;
                                            }
                                        }
                                    }
                                    

                            }
                            
                            
                            .detailsBtn{
                                font-size: 14px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 5px;
                                background-color:rgba(255,255,255, 0.4);
                                border-radius: 10px;
                                padding: 0px 5px;
                            }

                }
                &:hover{
                    background-color:$mainColor;
                    z-index:  1;
                  img{
                        opacity:0.2;
                        z-index: 2;
                    }
                }
            }
    }

}